<div class="container">
  <div>

    <!-- Button For Adding New User -->

    <button class="btn btn-primary mt-3">
      Add New User
    </button>

    <h4 class="mt-5">Users Data From Api</h4>
    <table class="table border">
      <thead class="thead-dark">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let user of users">
        <tr>
          <td scope="row">{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>
            <button class="btn btn-danger mx-2">Del</button><button class="btn btn-primary">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
